<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Automated Vehicle Club</title>

    <!-- Import CSS -->
    <link rel="stylesheet" href="../public/css/automation.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

    <!-- Import JS -->
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <h1 class="text-success text-center text-pos">Automated Vehicle Club Website</h1>

    <!-- Include base js -->
    <script type="text/javascript" src="../public/js/automation.js"></script>
</body>

</html>