<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Technical Board</title>

    <!-- Include CSS -->
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

    <!-- Include JS -->
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Abhinav & Harsh Nav Section -->



    <!-- Prem & Abhishek Hero Section -->


    
    <!-- Prateek Crousel  -->



    <!-- Harshit News Section -->



    <!-- Dhruv & Pavitra -->



    <!-- Anurag Light & Dark Mode -->

    

    <!-- Include base JS -->
    <script type="text/javascript" src="../public/js/main.js"></script>
</body>

</html>