<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Technical Board</title>

    <!-- Include CSS -->
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">

    <!-- Include JS -->
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Abhinav & Harsh Nav Section -->



    <!-- Prem & Abhishek Hero Section -->



    <!-- Prateek Crousel  -->
    <section id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="cards-wrapper">
                    <div class="card" onclick="window.location.href='coding';">
                        <img src="../public/data/lighthouse-g16db75415_1920.jpg" class="card-img-top" alt="Club-1">
                        <div class="card-body">
                            <h5 class="card-title text-center text-wrap">CodeScape<br>(Coding Club)</h5>
                            <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Debitis voluptatum voluptas consectetur officia quibusdam dicta animi suscipit illo,
                                ipsam a error! Beatae, dolore? Perspiciatis perferendis nisi quas praesentium eum
                                delectus.
                            </p>
                        </div>
                    </div>
                    <div class="card d-none d-md-block" onclick="window.location.href='web';">
                        <img src="../public/data/lighthouse-g16db75415_1920.jpg" class="card-img-top" alt="Club-2">
                        <div class="card-body">
                            <h5 class="card-title text-center text-wrap">WebVerse<br>(Web Dev Club)</h5>
                            <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Ducimus dolore minus consequatur qui modi quidem, dolorem consectetur, ratione nisi
                                ullam eum beatae ea quia quo recusandae omnis a, accusamus dignissimos.</p>
                        </div>
                    </div>
                    <div class="card d-none d-md-block" onclick="window.location.href='ai';">
                        <img src="../public/data/lighthouse-g16db75415_1920.jpg" class="card-img-top" alt="Club-3">
                        <div class="card-body">
                            <h5 class="card-title text-center text-wrap">AI/ML Club</h5>
                            <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Necessitatibus, ex! Illo ea dignissimos debitis nostrum earum amet, optio molestiae
                                reiciendis, id ipsum labore culpa dolorem odio laudantium quo facere obcaecati!</p>
                        </div>
                    </div>
                    <div class="card d-none d-md-block" onclick="window.location.href='cloud';">
                        <img src="../public/data/lighthouse-g16db75415_1920.jpg" class="card-img-top" alt="Club-6">
                        <div class="card-body">
                            <h5 class="card-title text-center text-wrap">Robotics Club</h5>
                            <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo fuga cumque, eum aperiam voluptatum excepturi enim tenetur, dignissimos magnam
                                velit, vel amet odio repudiandae ratione doloribus et quae quas rem?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card" onclick="window.location.href='blockchain';">
                        <img src="../public/data/lighthouse-g16db75415_1920.jpg" class="card-img-top" alt="Club-4">
                        <div class="card-body">
                            <h5 class="card-title text-center text-wrap">Blockchain Club</h5>
                            <p class="card-text text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Corporis dolore itaque doloribus modi ratione, beatae quas est, cumque minima iusto
                                perferendis rem fugit aperiam maiores, quis soluta suscipit! Omnis, velit.</p>
                        </div>
                    </div>
                    <div class="card d-none d-md-block" onclick="window.location.href='cyber';">
                        <img src="../public/data/lighthouse-g16db75415_1920.jpg" class="card-img-top" alt="Club-5">
                        <div class="card-body">
                            <h5 class="card-title text-center text-wrap">Cyber Security Club</h5>
                            <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quod dolorum culpa ex distinctio dolore vero, accusamus eius, temporibus est rem libero
                                sunt, maxime ipsam aut earum eveniet. Rerum, quo eligendi.</p>
                        </div>
                    </div>
                    <div class="card d-none d-md-block" onclick="window.location.href='cloud';">
                        <img src="../public/data/lighthouse-g16db75415_1920.jpg" class="card-img-top" alt="Club-6">
                        <div class="card-body">
                            <h5 class="card-title text-center text-wrap">Cloud Computing Club</h5>
                            <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo fuga cumque, eum aperiam voluptatum excepturi enim tenetur, dignissimos magnam
                                velit, vel amet odio repudiandae ratione doloribus et quae quas rem?</p>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </section>


    <!-- Harshit News Section -->



    <!-- Dhruv & Pavitra Footer Section -->



    <!-- Anurag Light & Dark Mode -->



    <!-- Include base JS -->
    <script type="text/javascript" src="../public/js/main.js"></script>
</body>

</html>