<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>webverse</title>

    <!-- Import CSS -->
    <link rel="stylesheet" href="../public/css/web.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

    <!-- Import JS -->
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- <h1 class="text-success text-center text-pos"></h1> -->

    <!-- Include base js -->
    <!-- amit kumar - navbar -->
    <header class="navbar">
        <ul class="nav justify-content-center nav-tabs mx-auto" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                    role="tab" aria-controls="contact" aria-selected="false">Contact</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                    role="tab" aria-controls="contact" aria-selected="false">Contact</button>
            </li>
        </ul>
        <!-- <a href="#" class="btn-area">Log in</a>
        <a href="#" class="btn-area1">Sign up</a> -->
    </header>
    <!-- devyanshu and chandan - hero section -->
    <div class="sidelogo">
        <div class="logo"></div>
    </div>
    <div class="container-fluid main">
        <div class="logo">
            <p>logo</p>
        </div>
        <div class="name container">
            <h3>Web Development Club</h3>
            <h6>INDIAN INSTITUTE OF INFORMATION TECHNOLOGY, BHAGALPUR</h6>
            <p>tag line</p>
        </div>
    </div>


    <!-- kanishk and himanshu - about us -->
    <div class="container-fluid about">
        <div class="container">
            <h1>About us</h1>
            <p>
            <h4>
                <b>" Great things are done by a series of small things brought together".
                </b>
            </h4>
            <i>
                Being Web development Club of a technical institution, we do pretty much everything and anything related
                to
                the development of website. Coding events, Workshops, Hackathons (48 hours non stop coding) are just to
                name
                a few. </i>
            </p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="nav justify-content-center membercnt">
            <div class="cnt">
                <p>projects</p>
            </div>
            <div class="cnt">
                <p>members </p>
            </div>
            <div class="cnt">
                <p>hackathons</p>
            </div>
        </div>
    </div>
    <!-- sanidhya - latest new section -->



    <!-- shubham and sowvik - team member section -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img
                            src="https://static.wixstatic.com/media/c7637f_11672039570147b18e44cf9010240bc4~mv2.png/v1/fill/w_270,h_266,al_c,q_85,usm_0.66_1.00_0.01/dummy%20profile%20pic.webp">
                        <br>
                    </div>
                    <h3 class="title">NAME</h3>
                    <span class="post">Coordinator</span>


                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJVisBJ-k0v2t06S3nVsAzs2yRiEbm9OKXbg&usqp=CAU">
                    </div>
                    <h3 class="title">NAME</h3>
                    <span class="post">Co-ordinator</span>



                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJVisBJ-k0v2t06S3nVsAzs2yRiEbm9OKXbg&usqp=CAU">
                    </div>
                    <h3 class="title">NAME</h3>
                    <span class="post">position</span>



                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJVisBJ-k0v2t06S3nVsAzs2yRiEbm9OKXbg&usqp=CAU">
                    </div>
                    <h3 class="title">NAME</h3>
                    <span class="post">position</span>



                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img
                            src="https://www.dgvaishnavcollege.edu.in/dgvaishnav-c/uploads/2021/01/dummy-profile-pic.jpg">
                    </div>
                    <h3 class="title">NAME</h3>
                    <span class="post">position</span>



                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img
                            src="https://www.dgvaishnavcollege.edu.in/dgvaishnav-c/uploads/2021/01/dummy-profile-pic.jpg">
                    </div>
                    <h3 class="title">NAME</h3>
                    <span class="post">position</span>



                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img
                            src="https://www.dgvaishnavcollege.edu.in/dgvaishnav-c/uploads/2021/01/dummy-profile-pic.jpg">
                    </div>
                    <h3 class="title">NAME</h3>
                    <span class="post">position</span>



                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img
                            src="https://www.dgvaishnavcollege.edu.in/dgvaishnav-c/uploads/2021/01/dummy-profile-pic.jpg">
                    </div>
                    <h3 class="title">NAME</h3>
                    <span class="post">position</span>



                </div>
            </div>
        </div>
    </div>



    <!-- vivek, tushar and suryansh - footer -->
    <footer class="container-fluid">
        <div class="container">
            <div class="main-content">
                <div class="left box">
                    <h2>Query/Suggestions</h2>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Name">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Query" style="resize: none;"></textarea>
                    </div>
                </div>
                <div class="right box">
                    <h2>Contact us</h2>
                    <div class="content">
                        <ul type="none">
                            <li>Name</li>
                            <li> phone</li>
                            <li>email</li>
                            <li>Cordinator</li>
                            <div class="content2">
                                <br>
                                <li>Name</li>
                                <li> phone</li>
                                <li>email</li>
                                <li>Co-ordinator</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="bottom">
            <center>
                <div class="center box">
                    <div class="social">
                        <a href=""><span class="fab fa-linkedin"></span></a>
                        <a href=""><span class="fab fa-instagram"></span></a>
                        <a href=""><span class="fab fa-youtube"></span></a>
                    </div>
            </center>
        </div>
        </div>
    </footer>
    <!---Tushar , suryansh , vivek -->



    <script type="text/javascript" src="../public/js/web.js"></script>
</body>

</html>