<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>webverse</title>

    <!-- Import CSS -->
    <link rel="stylesheet" href="../public/css/web.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

    <!-- Import JS -->
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <h1 class="text-success text-center text-pos"></h1>

    <!-- Include base js -->
    <!-- amit kumar - navbar -->



    <!-- devyanshu and chandan - hero section -->



    <!-- kanishk and himanshu - about us -->
    <div class="container-fluid about">

        <h1>
            <u>
                <b> ABOUT US</b></u>
        </h1>
    
    <p>
       <h4>    
           <b>" Great things are done by a series of small things brought together".
        </b>
    </h4> 
<i>
Being Web development Club of a technical institution, we do pretty much everything and anything related to the development of website. Coding events, Workshops, Hackathons (48 hours non stop coding) are just to name a few. </i>
    </p>
    <div class="nav justify-content-center membercnt">
        <div class="cnt">
            <p> 
            <b>projects
            </b>
            </p>
        </div>
        <div class="cnt">
            <p> 
                <b>members
                </b>
                </p>
        </div>
        <div class="cnt">
           <p> 
        <b>hackathons
        </b>
        </p>
        </div>
    </div>
</div>

    <!-- sanidhya - latest new section -->



    <!-- shubham and sowvik - team member section -->
    <div class="container">
        <div class="row">
            
			<div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://static.wixstatic.com/media/c7637f_11672039570147b18e44cf9010240bc4~mv2.png/v1/fill/w_270,h_266,al_c,q_85,usm_0.66_1.00_0.01/dummy%20profile%20pic.webp">
                    <br></div>
                    <h3 class="title">NAME</h3>
                    <span class="post">Coordinator</span>

                   
                </div>
            </div>

			<div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJVisBJ-k0v2t06S3nVsAzs2yRiEbm9OKXbg&usqp=CAU">
                    </div>
                    <h3 class="title">NAME</h3>
                    <span class="post">Co-ordinator</span>

                   

                </div>
            </div>

			<div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJVisBJ-k0v2t06S3nVsAzs2yRiEbm9OKXbg&usqp=CAU">
                    </div>
                    <h3 class="title">NAME</h3>
                    <span class="post">position</span>

                    

                </div>
            </div>

			<div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJVisBJ-k0v2t06S3nVsAzs2yRiEbm9OKXbg&usqp=CAU">
                    </div>
                    <h3 class="title">NAME</h3>
                    <span class="post">position</span>

                    

                </div>
            </div>
			<div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://www.dgvaishnavcollege.edu.in/dgvaishnav-c/uploads/2021/01/dummy-profile-pic.jpg">
                    </div>
                    <h3 class="title">NAME</h3>
                    <span class="post">position</span>

                    

                </div>
            </div>
			<div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://www.dgvaishnavcollege.edu.in/dgvaishnav-c/uploads/2021/01/dummy-profile-pic.jpg">
                    </div>
                    <h3 class="title">NAME</h3>
                    <span class="post">position</span>

                    

                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://www.dgvaishnavcollege.edu.in/dgvaishnav-c/uploads/2021/01/dummy-profile-pic.jpg">
                    </div>
                    <h3 class="title">NAME</h3>
                    <span class="post">position</span>

                    

                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://www.dgvaishnavcollege.edu.in/dgvaishnav-c/uploads/2021/01/dummy-profile-pic.jpg">
                    </div>
                    <h3 class="title">NAME</h3>
                    <span class="post">position</span>

                    

                </div>
            </div>
        </div>
    </div>



    <!-- vivek, tushar and suryansh - footer -->
    <div class="content1">
        <div class="text">Body</div>
      </div>
      <footer>
        <div class="main-content">
            
          <div class="left box">
              <h2>Query/Suggestions</h2>
              <div class="content">
                <form action="#">
                  <input type="text" placeholder="Name" name="Name" id="text" autocomplete="off" required/>
                  <br>
                  <input type="email" placeholder="Email" name="email" id="email" autocomplete="off" required/>
                  <br>
                 <textarea name="message" placeholder="Type here..." rows = "5" cols = "30" style ="resize : none;" autocomplete="off" required>
                  </textarea><br>
                  <div class="btn">
                      <button type="submit">Submit</button>
                    </div>
                </form>
              </div>
            </div>
   <div class="right box">
              <h2>Contact us</h2>
              <div class="content">
                  <ul type="none">
                      <li>Name</li>
                      <li> phone</li>
                      <li>email</li>
                      <li>Cordinator</li>
                      <div class="content2">
                      <br> <li>Name</li>
                      <li> phone</li>
                      <li>email</li>
                      <li>Co-ordinator</li>   </ul>
                  </div>
  
              </div>
            </div>
        </div>
        <div class="bottom">
          <center>
              <div class="center box">
                  <div class="social">
                     <a href=""><span class="fab fa-linkedin"></span></a>
                     <a href=""><span class="fab fa-instagram"></span></a>
                     <a href=""><span class="fab fa-youtube"></span></a>
                   </div>
          </center>
        </div>
      </footer>
      <!---Tushar , suryansh , vivek -->


    
    <script type="text/javascript" src="../public/js/web.js"></script>
</body>

</html>