<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>webverse</title>

    <!-- Import CSS -->
    <link rel="stylesheet" href="../public/css/web.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

    <!-- Import JS -->
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <h1 class="text-success text-center text-pos"></h1>

    <!-- Include base js -->
    <!-- amit kumar - navbar -->



    <!-- devyanshu and chandan - hero section -->



    <!-- kanishk and himanshu - about us -->
    <div class="container-fluid about">

        <h1>
            <u>
                <b> ABOUT US</b></u>
        </h1>
    
    <p>
       <h4>    
           <b>" Great things are done by a series of small things brought together".
        </b>
    </h4> 
<i>
Being Web development Club of a technical institution, we do pretty much everything and anything related to the development of website. Coding events, Workshops, Hackathons (48 hours non stop coding) are just to name a few. </i>
    </p>
    <div class="nav justify-content-center membercnt">
        <div class="cnt">
            <p> 
            <b>projects
            </b>
            </p>
        </div>
        <div class="cnt">
            <p> 
                <b>members
                </b>
                </p>
        </div>
        <div class="cnt">
           <p> 
        <b>hackathons
        </b>
        </p>
        </div>
    </div>
</div>

    <!-- sanidhya - latest new section -->



    <!-- shubham and sowvik - team member section -->



    <!-- vivek, tushar and suryansh - footer -->


    
    <script type="text/javascript" src="../public/js/web.js"></script>
</body>

</html>