body {
  background-color: rgba(32, 32, 32, 0.849) !important;
  margin: 0;
}

/* Carousel Section */

.cards-wrapper {
  display: flex;
  justify-content: center;
  width: 88%;
}
@media (max-width: 992px) {
  .cards-wrapper {
    margin: 6% auto;
  }
}
@media (min-width: 992px) {
  .cards-wrapper {
    margin: 3% auto;
  }
}

.card img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px !important;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: 2px solid none;
  border-radius: 10px !important;
  transition: 0.5s ease-in-out;
}

.carousel-indicators button {
  border: 2px solid none;
  border-radius: 10px !important;
  overflow: hidden;
  perspective: 1px;
}

.carousel-indicators button.active {
  padding-top: 2% !important;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.card:active {
  transform: scale(0.8);
}

.carousel-inner {
  padding: 1em;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #dad1d1;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}
header p {
  padding: 50px;
  text-align: center;
  color: #bebebe;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
}
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #011844;
}

.footer > * {
  flex: 1 100%;
}

.l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

h2 {
  font-weight: 400;
  font-size: 15px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  line-height: 4em;
}

.footer a {
  text-decoration: none;
}

.r-footer {
  display: flex;
  flex-flow: row wrap;
}

.r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  color: #999;
  transition: 0.5s;
}
.box a:hover {
  color: #fff;
}
.h-box {
  column-count: 1;
  column-gap: 0em;
}

.b-footer {
  text-align: center;
  color: #999;
  padding-top: 50px;
}

.l-footer p {
  padding-right: 20%;
  color: #999;
}

@media screen and (min-width: 600px) {
  .r-footer > * {
    flex: 1;
  }

  .features {
    flex-grow: 2;
  }

  .l-footer {
    flex: 1 0px;
  }

  .r-footer {
    flex: 2 0px;
  }
}
p a {
  color: #9c9c9c;
}
p a:hover {
  color: white;
}
.fa {
  transition: 0.5s ease-in-out;
}
.fa:hover {
  transform: scale(1.5);
}
/* Code Chenged */