body {
  background-image: url("../data/maxresdefault.jpg");
  margin: 0;
}
/* Home Section */
.home-section {
  background-image: url("../data/Untitled\ design.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 70% auto;
  padding-top: 20%;
}
.container {
  color: #fff;
}
.left {
  width: auto;
  height: auto;
}
.line1{
  width: 15%;
  height: 0.40px;
  border: 1px solid #F9F7F7;
  transform: matrix(0, 1, 1, 0, 0, 0);
}

.line2{
  width: 15%;
  height: 0.40px;
  border: 1px solid #F9F7F7;
  transform: matrix(0, 1, 1, 0, 0, 0);
}

.social{  
  left: 10%;
  width: 39.6px;
  height: 179.3px;
  left: 65px;
  top: 489.6px;
}
/* Carousel Section */

.cards-wrapper {
  display: flex;
  justify-content: center;
  width: 88%;
}
@media (max-width: 992px) {
  .cards-wrapper {
    margin: 6% auto;
  }
}
@media (min-width: 992px) {
  .cards-wrapper {
    margin: 3% auto;
  }
}

.card img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px !important;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: 2px solid none;
  border-radius: 10px !important;
  transition: 0.5s ease-in-out;
}

.carousel-indicators button {
  border: 2px solid none;
  border-radius: 10px !important;
  overflow: hidden;
  perspective: 1px;
}

.carousel-indicators button.active {
  padding-top: 2% !important;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.card:active {
  transform: scale(0.8);
}

.carousel-inner {
  padding: 1em;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #dad1d1;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}
header p {
  padding: 50px;
  text-align: center;
  color: #bebebe;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
}

header p {
  padding: 50px;
  text-align: center;
  color: #bebebe;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
}
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: rgba(26, 24, 24, 0.904);
}

.footer > * {
  flex: 1 100%;
}

.l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

h2 {
  font-weight: 400;
  font-size: 15px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  line-height: 4em;
}

.footer a {
  text-decoration: none;
}

.r-footer {
  display: flex;
  flex-flow: row wrap;
}

.r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  color: #999;
  transition: 0.5s;
}
.box a:hover {
  color: #fff;
}
.h-box {
  column-count: 1;
  column-gap: 0em;
}
.l-footer {
  width: 35%;
}
.r-footer {
  width: 10%;
}
.b-footer {
  text-align: center;
  color: #999;
  padding: 1%;
  margin: 0;
  background-color: #101111;
}

.l-footer p {
  /* padding-right: 20%; */
  color: #999;
}
.l-footer a {
  color: #999;
  margin-right: 4%;
  font-size: 22px;
}

@media screen and (min-width: 600px) {
  .features {
    flex-grow: 2;
  }
}
p a {
  color: #9c9c9c;
}
p a:hover {
  color: white;
}
.fa {
  transition: 0.5s ease-in-out;
}
.fa:hover {
  transform: scale(1.5);
}
.btn-light {
  height: 10%;
}

/* hero*/

/* Code Chenged */
