/* common css */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

body {
  margin: 0;
  padding: auto 4%;
  background: #191d1e; /* Old browsers */
  background: -moz-linear-gradient(
    0deg,
    #191d1e 50%,
    #283139 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(50%, #191d1e),
    color-stop(100%, #283139)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    0deg,
    #191d1e 50%,
    #283139 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    0deg,
    #191d1e 50%,
    #283139 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* IE10+ */
  background: linear-gradient(0deg, #191d1e 50%, #283139 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d1e', endColorstr='#283139',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

canvas {
  display: block;
}

#particles-js {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.section-padding {
  margin-top: 90px;
}

* {
  color: #ffffff;
}

/* --AMIT KUMAR--*/
.navbar {
  /* background-color: #c4c4c4; */
}

.navbar .nav {
  /* background-color: #c4c4c4; */
  color: #000000;
}

.main {
  height: fit-content;
  align-items: center;
  /* background-color: #c4c4c4; */
  padding: 3%;
}

.sidelogo {
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 30px;
}

.logo {
  background-color: #928b8b;
  margin: 2% auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  text-align: center;
}

.name {
  text-align: center;
  margin: 3%;
}

/*-----himanshu, kanishk------code start----*/

.about {
  text-align: center;
  /* background-color: #c4c4c4; */
  border-radius: 50px;
  color: #fff;
}
.about h1 {
  font-size: 38px;
  font-weight: 600;
}
.membercnt {
  display: inline-block;
  color: rgb(255, 255, 255);
}
.cnt {
  align-items: center;
  text-align: center;
  padding: 2%;
  /* background-color: #c4c4c4; */
  height: fit-content;
  min-height: 200px;
  min-width: 200px;
  width: fit-content;
  margin: 2% 6%;
  border-radius: 150px;
}
.cnt p {
  font-size: 20px;
  font-weight: 500;
  word-wrap: break-word;
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  final-value: 100;
  inherits: false;
}

.cnt {
  animation: counter 20s ease-in-out;
  counter-reset: num var(--num);
  font: 80 40px system-ui;
  padding: 2rem;
}

.cnt::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 100;
  }
}
/*-----himanshu, kanishk------code end----*/
/*shubham and souvik*/
.our-team {
  border-radius: 100px;
  text-align: center;
  padding: 0px 0px 0px 0px;
  /* background: #fff; */
}
.our-team .pic {
  /* background: rgb(214, 213, 213); */
  padding: 10px;
  margin-bottom: 10px;

  width: 100%;
  height: 0%;
}
.our-team:hover .pic {
  /* background: #d8d5d5; */
  border-radius: 1000%;
}
.pic img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}
.our-team .title {
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  display: flexbox;
  font-size: 20px;
  margin: 00px 00px 1px 0px;
}
/*shubham*/

/* TUSHAR  */
footer {
  /* position: fixed; */
  bottom: 0px;
  width: 100%;
  /* background: rgb(177, 177, 177); */
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.center .social {
  margin: 0px 20px 0 0;
}
.center .social a {
  padding: 0px 8px;
}
.center .social a {
  height: 40px;
  width: 40px;
  background: rgb(177, 177, 177);
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.center .social a span:hover {
  background: rgb(177, 177, 177);
}
.left form {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #000000;
  padding-left: 10%;
}
.left form input,
.left form textarea {
  width: 70%;
  font-size: 1.0625rem;
  background: #ffffff;
  padding-left: 10px;
  border: none;
  border-radius: 8px;
  color: rgb(41, 39, 39);
}
.left form input:focus,
.left form textarea:focus {
  outline-color: #3498db;
}
.left form input {
  height: 35px;
  border: none;
  border-radius: 10px;
  margin: 8px 0px;
}
.left form .btn {
  margin-top: 10px;
}
.left form .btn button {
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: #707070;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.left form .btn button:hover {
  background: rgb(105, 105, 105);
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}

.right h2 {
  float: right;
  padding-right: 50%;
}
.right .content {
  float: right;
  padding-right: 50%;
}

/* TUSHAR */
